@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes move-left {
    to {
        transform: translateX(calc(-100% - 12px));
    }
}

@-webkit-keyframes move-left {
    to {
        transform: translateX(calc(-100% - 12px));
    }
}

@keyframes move-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(calc(0% + 12px));
    }
}

@-webkit-keyframes move-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(calc(0% + 12px));
    }
}

@keyframes gotop {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}
