/** =========== Footer ==============*/
footer {
    padding: 40px 0;
    font-size: var(--caption-font-size);
    color: black;
    text-align: center;
    background: var(--p-100);
    max-width: none !important;
}

.footer__column--right {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    & p {
        color: var(--n-600);
    }

    & span, a {
        font-weight: 600;
        color: var(--p-950);
    }

    & a:hover {
        text-decoration: underline;
    }
}